.header-chat {
	color: #dedede;
	border-bottom: solid 3px #dedede;
}

.btn-header-chat {
	color: #dedede;
	font-weight: bold;
}

.chat-box {
	border: solid #dedede 2px;
	border-radius: 10px;
	background-color: black;
}

.chat-txt {
	color: #dedede;
	font-weight: bold;
}

.send-btn {
	color: #dedede;
	background-color: black;
}
