@import url('variable.css');

.player-name {
    opacity: 0; /* Démarre transparent */
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.player-left {
    transform: translateX(-100%);
}

.player-right {
    transform: translateX(100%);
}

.vs {
	font-size: 24px;
	font-weight: bold;
	color: orange;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-500%);
        opacity: 0;
    }
    to {
        transform: translateX(-30%);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(500%);
        opacity: 0;
    }
    to {
        transform: translateX(30%);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 2s forwards;
}

.slide-in-right {
    animation: slideInRight 2s forwards;
}

.show-score {
	border: solid 3px var(--color-btn);
	border-radius: 20%;
	background-color: var(--color-black);
	min-width: 100px;
	min-height: 50;
}

.game-window {
	min-width: 80%;
	min-height: 80%;
	background-color: #dedede;
	border: solid 2px var(--color-border-active);
	position: relative;
}

.left-barre,
.right-barre {
	width: 10px;
	height: 15%;
	border: solid 1px black;
}

.left-barre {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: red;
	margin-left: 3px;
}

.right-barre {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: green;
	margin-right: 3px;
}

.countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	font-weight: bold;
	color: black;
	z-index: 10;
}
