@import url('variable.css');

body {
	background: var(--color-blue);
	background: linear-gradient(190deg, #006e99 0%, black 50%, #006e99 100%);
	min-width: 600px;
}

.site-title {
	color: cadetblue;
}

h2 {
	color: var(--color-white);
}

.text {
	color: var(--color-white);
}

.btn-primary {
	background-color: var(--color-brown);
	border-color: black;
	border-width: 2px;
	color: black;
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color:#006e99;
	border-color: black;
}

.btn-primary:focus {
	background-color: black;
	color: var(--color-white);
	border-color: var(--color-white);
}

.btn-lobby {
	overflow: hidden;
	background-color: #006e99;
	min-height: 50px;
	font-size: 2vw;
}

.btn-exit {
	background-color: rgb(223, 35, 35);
}

.btn-add {
	color: var(--color-white);
	background-color: var(--color-brown);
}

.form-floating {
	color: #7f7f7f;
}