{% load i18n %}
<div class="chat-box my-2 flex-grow-1" id="chatBox">
	<div class="d-flex justify-content-between align-items-center overflow-auto header-chat">
		<a class="btn ms-1 btn-header-chat" style="font-size: 1.5vw;">{%trans 'Global' %}</a>
		<a class="btn btn-header-chat" style="font-size: 1.5vw;">{%trans 'Lobby' %}</a>
		<a class="btn me-1 btn-header-chat" style="font-size: 1.5vw;">
			<i class="bi bi-plus icon"></i>
		</a>
	</div>
	<p class="mx-1 my-1 chat-txt">Robert: je suis robert et j'aime le chocolat</p>
	<p class="mx-1 my-1 chat-txt">Jack: hi</p>
</div>

<div class="chat-input d-flex align-items-center">
	<textarea id="chatMessageInput" class="form-control me-2" placeholder="Type your message..."></textarea>
	<button class="btn btn-primary send-btn h-100" type="button">{%trans 'Send' %}</button>
</div>