{% load static %}
{% load i18n %}
<div class="d-flex" style="height: calc(100vh - 80px); min-height: 450px;">
	<div class="mb-3 mx-2 my-2 w-75 flex-grow-1 d-flex align-items-center justify-content-center">
		<form method="POST" id="edit-profile-form" class="row w-100 align-items-center border rounded mx-2">
			{% csrf_token %}
			<div class="col-lg d-flex justify-content-center position-relative">
				<input type="file" id="profileImageInput" accept="image/*" style="display: none;" />
				<a class="btn profile-btn" id="profileImageButton">
					<img id='avatar' src="{{ social.avatar.url }}" style="height: 250px; width: 200px; color: black;" alt="">
				</a>
				<i class="bi bi-pencil-square icon-overlay position-absolute"></i>
			</div>
			<div class="col-lg-8 my-3">
				<div class="form-floating mb-3">
					<input name="change_email" type="email" class="form-control" id="modifEmailAccount"
						placeholder="name@example.com" value="{{ user.email }}">
					<label for="modifEmailAccount">{%trans 'Email address' %}</label>
				</div>
				<div class="form-floating mb-3">
					<input name="change_username" type="text" class="form-control" id="modifUsernameAccount"
						placeholder="Buzz" value="{{ user.username }}">
					<label for="modifUsernameAccount">{%trans 'Username' %}</label>
				</div>
				<div class="form-floating mb-3">
					<input name="change_password" type="password" class="form-control" id="modifPasswordAccount">
					<label for="modifPasswordAccount">{%trans 'Password' %}</label>
				</div>
				<!-- <div class="form-floating mb-3">
					<select class="form-select" id="floatingSelectGridColor">
						<option data-theme="color-red">{%trans 'Red' %}</option>
						<option data-theme="color-blue">{%trans 'Blue' %}</option>
						<option data-theme="color-green">{%trans 'Green' %}</option>
					</select>
					<label for="floatingSelectGridColor">{%trans 'Colors :' %}</label>
				</div> -->
			</div>
			<div class="d-flex align-items-center justify-content-center">
				<button type="button" class="btn btn-primary mb-3" id="saveChangesAccount">{%trans 'Save changes'%}</button>
			</div>
		</form>
	</div>
</div>