{% load i18n %}
{% load static %}

<div class="d-flex justify-content-center align-items-center" id="divCanvas" style="height: calc(100vh - 80px);">
	<canvas id="pong" width="720" height="480" data-user-id="{{ user.id }}" data-user-username="{{ user.username }}">
		Désolé, votre navigateur ne prend pas en charge &lt;canvas&gt;.
	</canvas>
	<div id="showScore" style="background-color: rgb(0, 0, 0); color: #dedede;" class="border border-dark rounded p-3 d-flex flex-column align-items-center text-center d-none">
		<span class="d-flex align-items-center">
			<span>Winner is:</span>
			<span class="ms-2 fw-bold" id="winner"></span>
		</span>
		
		<span class="d-flex align-items-center my-2">
			<span id="leftscore" class="me-2"></span>
			<span>-</span>
			<span id="rightscore" class="ms-2"></span>
		</span>
		
		<span class="d-flex align-items-center">
			<span>Game will redirect to lobby in</span>
			<span class="ms-2 fw-bold" id="countdown"></span>
			<span class="ms-1">seconds...</span>
		</span>
	</div>

	<div class="confetti-container">
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
	</div>
</div>

<script>
	const roomName = "{{ room_name }}";
</script>