{% load static %}
<div class="d-flex" style="height: calc(100vh - 80px);">
	<div class="mx-2 my-2 w-100 d-flex flex-column">
		<div class="border border-dark rounded mb-3 d-flex flex-column justify-content-center align-items-center overflow-hidden" style="height: calc(100vh - 80px); min-height: 300px;">
			<a class="btn btn-primary btn-lobby shadow my-3 w-75 text-nowrap" onclick="loadTournament()" role="button"><p class="my-1">Tournoi</p></a>
			<a class="btn btn-primary btn-lobby shadow my-3 w-75 text-nowrap" onclick="loadPublic()" role="button"><p class="my-1">Partie Rapide</p></a>
			<a class="btn btn-primary btn-lobby shadow my-3 w-75 text-nowrap" onclick="loadPrivate()" role="button"><p class="my-1">Partie Private</p></a>
			
			<!-- <a class="btn btn-primary btn-lobby shadow my-3 w-75 text-nowrap" role="button" data-bs-toggle="modal" data-bs-target="#gameModeModal"><p class="my-1">Partie privée</p></a> -->

			<!-- <div class="modal fade" id="gameModeModal" tabindex="-1" aria-labelledby="gameModeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title mx-auto" id="gameModeModalLabel">Choisissez un mode de jeu</h5>
							<button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="d-flex justify-content-around mt-1">
								<a onclick="loadPrivate()" class="btn btn-local-game w-45">Local</a>
								<a onclick="loadPrivate()" class="btn btn-online-game w-45">En ligne</a>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- <div class="chat-container mx-2 w-25 d-flex flex-column" id="chat-placeholder" style="height: calc(100vh - 80px);"></div> -->
</div>
