{% load static %}
{% load i18n %}
<div class="d-flex" style="height: calc(100vh - 100px);">
	<div
		class="border border-dark rounded m-2 w-100 px-5 flex-grow-1 d-flex flex-column align-items-center overflow-auto">
		<div class="d-flex justify-content-between w-100">
			<div class="d-flex flex-column align-items-center my-3 me-2 card-custom">
				<img src="{% static 'img/bob.jpg' %}" class="rounded-circle img-profil-100" alt="img-profil">
				<h2>Bob</h2>
				<p class="result">{%trans 'Win' %}</p>
			</div>
			<div class="d-flex flex-column align-items-center my-3 mx-2 card-custom">
				<img src="{% static 'img/bob.jpg' %}" class="rounded-circle img-profil-100" alt="img-profil">
				<h2>Carlos</h2>
				<p class="result">{%trans 'Lose' %}</p>
			</div>
			<div class="d-flex flex-column align-items-center my-3 mx-2 card-custom">
				<img src="{% static 'img/bob.jpg' %}" class="rounded-circle img-profil-100" alt="img-profil">
				<h2>Jacob</h2>
				<p class="result">{%trans 'Win' %}</p>
			</div>
			<div class="d-flex flex-column align-items-center my-3 mx-2 card-custom">
				<img src="{% static 'img/bob.jpg' %}" class="rounded-circle img-profil-100" alt="img-profil">
				<h2>Carlos</h2>
				<p class="result">{%trans 'Draw' %}</p>
			</div>
		</div>
		<div class="w-100 my-5 stat-container">
			<h3 class="m-4 fw-bold">{%trans 'Player Statistics' %}</h3>
			<section id="camembert">
				<svg id="drawgraph" width="210" height="210" xmlns="http://www.w3.org/2000/svg">
					<circle cx="100" cy="100" r="80" fill="none" stroke="#ddd" stroke-width="5" />
				</svg>
				<ul>
					<li id="liVert" class="d-flex"><span id="vert"></span> {%trans 'Win :'%}<p id="nb-win" class="ms-2">
						</p>
					</li>
					<li id="liRouge" class="d-flex"><span id="rouge"></span> {%trans 'Loss :' %}<p id="nb-loss"
							class="ms-2"></p>
					</li>
					<li id="liOrange" class="d-flex"><span id="orange"></span> {%trans 'Draw :'%}<p id="nb-draw"
							class="ms-2"></p>
					</li>
				</ul>
			</section>
			<div class="m-4 align-items-center d-flex justify-content-between">
				<li class="d-flex fw-bold" style="list-style-type: none;">{%trans 'Games played: ' %}<p id="nb-game"
						class="mx-2"></p>
				</li>
				<p class="fw-bold">{%trans 'Global Ranking :' %} #3</p>
				<p class="fw-bold">{%trans 'Global Friends : '%}#3</p>
				<p class="fw-bold">{%trans 'Tournaments won :' %} 0</p>
			</div>
		</div>
	</div>
</div>

<script>
	// const gamesWin = {{ profile.games_win }};
	// const gamesLose = {{ profile.games_lose }};
	// const gamesDraw = {{ profile.games_draw }};
</script>