.ball {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -50%;
	left: -50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
}

@keyframes break {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		background-color: red;
		opacity: 0.8;
		transform: scale(1.2) rotate(10deg);
	}
	100% {
		opacity: 0;
		transform: scale(0.5) rotate(-10deg);
	}
}

.ball.breaking {
	animation: break 0.5s forwards;
}

@keyframes disappear {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
}

.ball.disappearing {
	animation: disappear 0.5s forwards;
}


/* Ball connect page */

#ball_connect {
    width: 30px;
    height: 30px;
	border: solid 2px black;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: translate(-50%, -50%);
	z-index: -1;
}