.btn-header {
	min-width: 15%;
	font-size: 2vw;
}

.btn-header.active {
	background-color: var(--color-black);
	color: var(--color-white);
	border-color: var(--color-border-active);
}

.icon-with-text {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
	width: 50px;
}

.icon {
	transition: transform 0.5s ease;
	font-size: 24px;
}

.text-header {
	opacity: 0;
	white-space: nowrap;
	margin-left: 10px;
	transition: opacity 0.5s ease;
	font-size: 18px;
	position: absolute;
	left: 100%;
}

@media (min-width: 1000px) {
	.icon-with-text:hover .icon {
		transform: translateX(-20px);
	}

	.icon-with-text:hover .text-header {
		opacity: 1;
		position: static;
	}
}

.language-switcher {
    z-index: 9999; 
}

.language-switcher button {
    background: none; 
    border: none;     
    padding: 0;       
    cursor: pointer;  
}

.language-switcher img {
    display: block;   
    width: 32px;
    height: 20px;
}

#buttons-div .btn.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
	border: 2px solid black;
}
