body {
	background: var(--color-back);
	background: linear-gradient(190deg, var(--color-back) 0%, var(--color-black) 50%, var(--color-back) 100%);
	min-width: 600px;
}

.site-title {
	color: cadetblue;
}

h2 {
	color: var(--color-white);
}

h3 {
	color: var(--color-white);
}

.text {
	color: var(--color-white);
}

.btn-primary {
	background-color: var(--color-btn);
	border-color: var(--color-black);
	border-width: 2px;
	color: var(--color-black);
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color:var(--color-back);
	border-color: var(--color-black);
	
}

.btn-primary:focus {
	background-color: var(--color-black);
	color: var(--color-white);
	border-color: var(--color-white);
}

.btn-lobby {
	overflow: hidden;
	background-color: var(--color-back);
	min-height: 50px;
	font-size: 2vw;
}

.btn-exit {
	background-color: rgb(223, 35, 35);
}

.btn-add {
	color: var(--color-white);
	background-color: var(--color-btn);
}

.btn-toast-join {
	border: solid 1px green;
	background-color: #b9ffb9;
}

.btn-toast-close {
	border: solid 1px red;
	background-color: #ff9f9f;
}

.btn-local-game {
	border:solid 1px #990037;;
	background-color: #cf92a9;

}

.btn-local-game:hover {
	border:solid 1px #990037;
	background-color: #ce658c;

}

.btn-online-game {
	border: solid 1px orange;
	background-color: #ffd891;
}

.btn-online-game:hover {
	border: solid 1px orange;
	background-color: #ffc455;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Les confettis ne bloquent pas l'interaction avec d'autres éléments */
    z-index: 9999; /* Assurez-vous que les confettis sont au-dessus des autres éléments */
}

/* Style de chaque confetti */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: randomColor(); /* Fonction à définir pour la couleur aléatoire */
    opacity: 0;
    animation: fall 3s infinite linear, rotate 2s infinite linear;
}

/* Animation de chute */
@keyframes fall {
    0% {
        top: -10%;
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}

/* Animation de rotation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.invitation-popup {
	position: absolute;
    top: 40px;
	right: 20px;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.invitation-popup p {
    margin: 0;
    padding-bottom: 10px;
}

.invitation-popup button {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.invitation-popup button:hover {
    opacity: 0.8; /* Effet visuel au survol des boutons */
}

.error-message {
	position: absolute;
	background-color: #ffc455;
    top: 40px;
	right: 20px;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}