/* :root {
	--color-back: #1073a5;
	--color-btn: #990037;
	--color-border: #191b1d;
	--color-border-active: #990037;

	--color-white: #dedede;
	--color-black: #191b1d;
} */

:root {  /* blue theme */
	--color-back: #1073a5;
	--color-btn: #990037;
	--color-border: #191b1d;
	--color-border-active: #990037;

	--color-white: #dedede;
	--color-black: #191b1d;
	
	--color-blueBlack: #202b42;
}

/* :root {  greem theme
	--color-back: #1f8729;
	--color-btn: #871F7D;
	--color-border: #191b1d;
	--color-border-active: #871F7D;

	--color-white: #dedede;
	--color-black: #191b1d;
} */

/* :root {  red theme 
	--color-back: #8c0200;
	--color-btn: #00448C;
	--color-border: #191b1d;
	--color-border-active: #00448C;

	--color-white: #dedede;
	--color-black: #191b1d;
} */